<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    {% block head%}
    {% endblock %}
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class=text-gray">ART GALLERY</a>
            </div>
                <ul class="nav-items">
                <li class="nav-link">
                    <a href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/add">Add</a>
                </li>
                <li class="nav-link">
                    <a href="/retrieve">Retrieve</a>
                </li>
                <li class="nav-link">
                    <a href="/delete">Delete</a>
                </li>
                </ul>
            </div>
    </nav>
    <div class="container">
    <div class="row">
        <div>
            <p>Delete your database</p>
            <form action="/delete" method="post">
                <table class="centerCall">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>zipCode</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><input type="text" name="name"size="10" ></td>
                                <td><input type="text" name="zipCode" size="10"></td>
                                <td><input type="submit" value="Delete"></td>
                                
                            </tr> 
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
    {% block body%}
     {% endblock %}
</body>
</html>

