{% extends 'base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div>
            <p>Retrieve your database</p>
            <form action="/retrieve" method="post">
                <table class="centerCall">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Commission</th>
                        <th>City</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><input type="text" name="name" size="10"></td>
                                <td><input type="text" name="commission" size="10"></td>
                                <td><input type="text" name="city"size="10" ></td>
                                <td><input type="submit" value="Retrieve"></td>
                                
                            </tr> 
                    </tbody>
                </table>             
            </form>
        </div>
    </div>
</div>

{% endblock %}