{% extends 'base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div>
            <p>Update your database</p>
            <form action="/update" method="post">
                <table class="centerCall">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>zipCode</th>
                        <th>New Name</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><input type="text" name="name"size="10" ></td>
                                <td><input type="text" name="zipCode" size="10"></td>
                                <td><input type="text" name="newname"size="10" ></td>
                                <td><input type="submit" value="Update"></td>
                                
                            </tr> 
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}