backports.entry-points-selectable==1.1.1
certifi==2022.12.7
distlib==0.3.3
filelock==3.4.0
flake8==4.0.1
mccabe==0.6.1
pipenv==2021.11.23
platformdirs==2.4.0
pycodestyle==2.8.0
pyflakes==2.4.0
six==1.16.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
